@font-face {
  font-family: 'SegoeUiBold';
  src: font-url('segoeuib.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUiLight';
  src: font-url('segoeuil.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
