.main-wrapper {
  background-image: image_url('background/index-bg.jpg');
  height: 100vh;
  min-height: 718px;
  width: 100%;
  background-size: cover;

  .pattern {
    background-image: image_url('background/pattern.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;

    .gradient {
      background: -moz-linear-gradient(45deg,  rgba(200,0,250,0.39) 0%, rgba(0,150,230,0.09) 77%, rgba(0,150,230,0) 99%);
      background: -webkit-linear-gradient(45deg,  rgba(200,0,250,0.39) 0%,rgba(0,150,230,0.09) 77%,rgba(0,150,230,0) 99%);
      background: linear-gradient(45deg,  rgba(200,0,250,0.39) 0%,rgba(0,150,230,0.09) 77%,rgba(0,150,230,0) 99%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63c800fa', endColorstr='#000096e6',GradientType=1 );
      height: 100%;
    }
  }

  .btn {
    background: #2c8fd1;
    background-image: -webkit-linear-gradient(top, #2c8fd1, #3a73b0);
    background-image: -moz-linear-gradient(top, #2c8fd1, #3a73b0);
    background-image: -ms-linear-gradient(top, #2c8fd1, #3a73b0);
    background-image: -o-linear-gradient(top, #2c8fd1, #3a73b0);
    background-image: linear-gradient(to bottom, #2c8fd1, #3a73b0);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 60px 10px 60px;
    text-decoration: none;

    &:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
  }

  .wrapper-third {
    background-color: #f3f3f3;
    width: 100%;
    max-width: 100%;
    box-shadow: inset 0px 11px 8px -10px #CCC;
    padding-top: 1px;
  }

  .feature-wrapper {
    background-image: image_url('background/feature-bg.jpg');
    width: 100%;
    background-size: cover;

    .industry-wrap {
      column-count: 3;
      text-align: center;

      @media (max-width: 885px) {
        column-count: auto;
      }

      .box-industry {
        width: 300px;
        margin: 0 auto;
        height: 330px;
        text-align: center;

        p {
          font-size: 22px;
        }

        .company-1 {
          background-image: image_url('index/award_1.png');
          width: 240px;
          height: 130px;
          background-repeat: no-repeat;
          margin: 0 auto;
        }

        .company-2 {
          background-image: image_url('index/award_2.png');
          width: 240px;
          height: 130px;
          margin: 0 auto;
          background-repeat: no-repeat;
        }

        .company-3 {
          background-image: image_url('index/award_3.png');
          width: 240px;
          height: 130px;
          margin: 0 auto;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .industry {
    color: white;

    h2 {
      font-family: 'SegoeUiBold';
      text-align: center;
      padding-top: 50px;
      font-size: 40px;
      padding-bottom: 30px;
    }
  }

  .subscribe-box {
    text-align: center;

    .btn {
      margin: 70px auto 70px;
      text-align: center;
      display: block;
      width: 70px;
      font-family: 'SegoeUiBold';
      padding: 18px 70px 19px 70px;
    }

    h2 {
      font-family: 'SegoeUiBold';
      text-align: center;
      font-size: 40px;
      padding-top: 20px;
    }

    .subscribe-t {
      font-size: 22px;
      color: #303030;
    }

    .license {
      width: 300px;
      margin: 0 auto;
      background-color: #ebebeb;
      border-radius: 4px;
      padding: 5px;
      text-transform: uppercase;

      .advisor, .price {
        font-family: 'SegoeUiBold';
      }

      .advisor {
        font-family: 'SegoeUiBold';
        font-size: 20px;
        font-style: normal;
        top: -5px;
        position: relative;
      }

      .price {
        font-size: 50px;
      }

      .left-side {
        float: left;
        width: 100px;
        text-align: center;
        height: 50px;
        display: block;

        p {
          margin-top: 11px;
          color: #303030;
          font-style: italic;
          font-size: 16px;
          text-align: center;
        }
      }

      .right-side {
        float: right;
        width: 200px;
        height: 70px;

        .divide {
          font-size: 29px;
          margin-right: 17px;
          position: relative;
          top: -9px;
          opacity: 0.3;
        }
      }
    }

    @media (max-width: 340px) {
      .license .right-side {
        float: right;
        width: 160px;
        height: 70px;
      }

      .license .price {
        font-size: 43px;
      }

      .license {
        width: 270px;
      }
    }
  }

  .test-drive {
    background-color: #f3f3f3;
    box-shadow: inset 0px 11px 8px -10px #CCC;
    text-align: center;
    padding: 1px 0px 100px;

    h1 {
      color: #0096e6;
      font-family: 'SegoeUiBold';
      text-align: center;
      margin-top: 50px;
      font-size: 40px;
      margin-bottom: 9px;
    }

    h2 {
      font-family: 'SegoeUiBold';
      font-size: 30px;
      margin-top: 0;
      color: #303030;
    }

    .f-field {
      margin: 0;
      display: block;
      text-align: left;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid-column;

      @media (max-width: 690px) {
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
      }

      .btn {
        display: inline-block;
        text-align: center;
        width: 70px;
        font-family: 'SegoeUiBold';
        padding: 18px 70px 19px 70px;

        &:focus {
          outline: none;
        }
      }
    }

    .form-drive {
      text-align: center;
      column-count: 3;
      width: 100%;
      margin: 50px auto 10px;

      @media (max-width: 690px) {
        column-count: auto;
      }

      ::-webkit-input-placeholder {
        color: #303030;
        font-size: 18px;
        font-family: 'SegoeUiBold';
      }

      :-moz-placeholder { /* Firefox 18- */
        color: #303030;
        font-size: 18px;
        font-family: 'SegoeUiBold';
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        color: #303030;
        font-size: 18px;
        font-family: 'SegoeUiBold';
      }

      :-ms-input-placeholder {
        color: #303030;
        font-size: 18px;
        font-family: 'SegoeUiBold';
      }
    }

    .field {
      border: none;
      background-color: #ebebeb;
      border-radius: 3px;
      padding: 17px 15px;
      width: 90%;
      display: inline-block;
      color: #303030;
      font-size: 18px;
      font-family: 'SegoeUiBold';

      &:focus {
        outline: none;
      }
    }
  }

  .advantage-wrapper {
    padding-bottom: 30px;

    h1 {
      color: #0096e6;
      font-family: 'SegoeUiBold';
      text-align: center;
      margin-top: 70px;
      font-size: 40px;
      word-wrap: break-word;
      margin-bottom: 10px;

      span {
        color: #303030;
        margin-left: 10px;
      }
    }

    .title-slide {
      text-align: center;
      font-size: 22px;
      color: #303030;
      margin-top: 0;
    }

    .btn {
      margin: 50px auto 30px;
      text-align: center;
      display: block;
      width: 70px;
      font-family: 'SegoeUiBold';
      padding: 18px 70px 19px 70px;
    }
  }

  .inner-box {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;

    .long-logo {
      background-image: image_url('icons/svg/logo-long.svg');
      height: 53px;
      background-repeat: no-repeat;
      width: 158px;
      background-size: 81%;
      top: -12px;
      position: absolute;
      background-color: #48435d;
      left: 0;
      background-position-y: 9px;
      background-position-x: 15px;
    }

    .middle-box {
      margin: 0 auto;
      padding-top: 25%;
      max-width: 630px;
      text-align: center;

      @media (max-width: 620px) {
        padding-top: 40%;
      }

      .logo {
        background-image: image_url('icons/svg/logo.svg');
        height: 80px;
        background-repeat: no-repeat;
        width: 120px;
        margin: 0 auto;
        top: 12px;
        position: relative;
      }

      .line {
        border-top: 1px solid white;
        width: 58%;
        margin: 0 auto;
      }

      .box-text {
        h1 {
          margin-top: 10px;
          font-size: 75px;
          color: white;
          margin-bottom: 15px;
          font-weight: lighter;

          span {
            font-family: 'SegoeUiBold';
            margin-right: 1px;
            margin-left: 13px;
          }

          @media (max-width: 700px) {
            font-size: 30px;
          }
        }

        p {
          color: white;
        }
      }
    }

    .top-navigation {
      text-align: right;
      top: 12px;
      position: relative;

      .divider {
        color: white;
        margin-right: 5px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          font-weight: lighter;
          font-family: 'SegoeUiLight';

          a {
            text-decoration: none;
            margin-right: 5px;
            color: white;

            &:hover {
              color: #dcdcdc;
            }
          }
        }
      }
    }

    .slide-second {
      h1 {
        color: #0096e6;
        font-family: 'SegoeUiBold';
        text-align: center;
        margin-top: 50px;
        font-size: 40px;

        span {
          color: #303030;
          margin-left: 10px;
        }
      }

      .box-second {
        margin-top: 30px;

        .left-side {
          float: left;
          height: 400px;
          max-width: 500px;

          .image {
            background-image: image_url('index/browser.png');
            height: 378px;
            width: 460px;
            background-repeat: no-repeat;
            position: relative;
            margin-right: 20px;
          }

          .image-window {
            background-image: image_url('index/inner-image.png');
            height: 244px;
            width: 434px;
            background-repeat: no-repeat;
            position: relative;
            left: 13px;
            top: 22px;
          }

          @media (max-width: 494px) {
            display: none;
          }
        }

        .right-side {
          float: left;
          max-width: 384px;
          margin-left: 20px;

          p {
            font-size: 23px;
            color: #303030;
          }

          .view-source {
            .divider {
              border-bottom: 1px solid #ececec;
              margin-left: 53px;
              margin-bottom: 13px;
              margin-top: 11px;
            }

            .image {
              background-image: image_url('icons/svg/plus.svg');
              height: 32px;
              width: 32px;
              background-repeat: no-repeat;
              display: inline-block;
              position: relative;
              margin-right: 20px;
            }

            .minus {
              background-image: image_url('icons/svg/minus.svg');
            }

            a {
              color: #303030;
              font-family: 'SegoeUiBold';
              font-size: 21px;
              text-decoration: none;
              position: relative;
              top: -9px;

              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }

            .blue-color {
              color: #0096e6;
            }

            .hide {
              margin-left: 54px;
            }
          }
        }

        @media (max-width: 923px) {
          .left-side {
            float: none;
            margin: 50px auto;
          }

          .right-side {
            float: none;
            width: 100%;
            max-width: 100%;
          }
        }
      }

      .bottom-text {
        margin-bottom: 50px;

        h2 {
          font-size: 22px;
          color: #303030;
          margin-bottom: 4px;
        }

        p {
          margin-top: 5px;
          color: #909090;
          font-size: 18px;
        }
      }
    }

    .slide-third {
      h1 {
        color: #0096e6;
        font-family: 'SegoeUiBold';
        text-align: center;
        margin-top: 50px;
        font-size: 40px;
        margin-bottom: 40px;

        span {
          color: #303030;
          margin-left: 10px;
        }
      }

      .icons-wrapper {
        .active-box {
          background-color: white;
        }

        .icon-box {
          float: left;
          cursor: pointer;
          width: 220px;
          height: 260px;
          text-align: center;
          margin-right: 23px;

          &:hover {
            background-color: white;

            p {
              color: #3c648c;
            }
          }

          p {
            color: #303030;
            font-size: 24px;
            font-family: 'SegoeUiBold';
          }

          .i-bg {
            background-color: white;
            border-radius: 50%;
            height: 100px;
            width: 100px;
            position: relative;
            margin: 30px auto 10px;

            span {
              position: absolute;
              background-color: #e0e0e0;
              border-radius: 50%;
              width: 20px;
              color: #303030;
              height: 20px;
              font-size: 14px;
              text-align: center;
              font-weight: bold;
              right: 3px;
              top: -1px;
              font-family: 'SegoeUiBold';
            }
          }

          .search-i {
            background-image: image_url('icons/svg/search.svg');
            height: 70px;
            background-repeat: no-repeat;
            width: 70px;
            margin: 0 auto;
            top: 12px;
            position: relative;
          }

          .result-i {
            background-image: image_url('icons/svg/cursor.svg');
            height: 70px;
            background-repeat: no-repeat;
            width: 70px;
            margin: 0 auto;
            top: 17px;
            left: 4px;
            position: relative;
            transform: rotate(-90deg);
          }

          .interact-i {
            background-image: image_url('icons/svg/settings-1.svg');
            height: 70px;
            background-repeat: no-repeat;
            width: 70px;
            margin: 0 auto;
            top: 17px;
            left: 4px;
            position: relative;
          }

          .implement-i {
            background-image: image_url('icons/svg/flag.svg');
            height: 70px;
            background-repeat: no-repeat;
            width: 70px;
            margin: 0 auto;
            top: 17px;
            left: 4px;
            position: relative;
          }
        }

        .last-icon {
          margin-right: 0;
        }

        @media (max-width: 989px) {
          text-align: center;
          margin: 0 auto;
          width: 71%;

          .icon-box {
            width: 140px;
          }
        }

        @media (max-width: 989px) {
          width: 80%;
        }

        @media (max-width: 827px) {
          width: 95%;
        }

        @media (max-width: 700px) {
          .icon-box {
            width: 200px;
          }
        }

        @media (max-width: 500px) {
          width: 88%;

          .icon-box {
            width: 200px;
            margin: 0 auto;
            text-align: center;
            padding-top: 20px;
            float: none;
          }
        }

        @media (max-width: 390px) {
          .icon-box {
            width: 200px;
            margin-right: 0;
            float: none;
            padding-top: 10px;
            position: relative;
          }
        }
      }

      .box-text {
        margin-top: 40px;
        min-height: 185px;
        padding-bottom: 70px;
      }

      .left-side {
        float: left;
        width: 68%;

        @media (max-width: 1000px) {
          width: 100%;
        }

        h2 {
          text-transform: uppercase;
          font-family: 'SegoeUiBold';
          font-size: 24px;
          color: #303030;
          margin-bottom: 0px;
        }

        p {
          color: #909090;
          font-size: 18px;
          margin-top: 6px;
        }
      }

      .right-side {
        float: right;
        width: 205px;
        margin-top: 7%;

        .btn {
          font-family: 'SegoeUiBold';
          padding: 18px 70px 19px 70px;
        }

        @media (max-width: 500px) {
          float: none;
          margin: 0 auto;
          clear: both;
          padding-top: 40px;
        }
      }
    }

    .slider {
      padding-top: 80px;
      padding-bottom: 80px;

      .left-side {
        width: 40%;
        float: left;
        height: 300px;

        .slider-i {
          background-image: image_url('index/browsers.png');
          height: 544px;
          background-repeat: no-repeat;
          width: 496px;
          left: 0;
          position: relative;
          top: 15px;
        }

        .browsers-i {
          background-image: image_url('index/browsers-i.jpg');
          height: 469px;
          background-repeat: no-repeat;
          width: 360px;
          left: 68px;
          position: relative;
          top: 28px;
        }
      }

      .right-side {
        float: right;
        color: white;
        max-width: 425px;

        p {
          font-size: 18px;
        }

        h2 {
          font-family: 'SegoeUiBold';
          font-size: 30px;
        }

        .manage {
          font-size: 22px;
          margin-bottom: 0;
        }

        .divider {
          border-bottom: 2px solid white;
        }

        ul {
          list-style: none;
          margin-left: 30px;
          padding-left: 0;
          margin-top: 6px;
          font-size: 18px;
          width: 90%;

          li {
            padding-left: 1em;
            text-indent: -1em;

            &:before {
              content: image_url('icons/list-bullet.png');
              padding-right: 26px;
              top: 20px;
              position: relative;
              height: 20px;
              right: 30px;
              display: block;
            }
          }
        }
      }

      @media (max-width: 950px) {
        .left-side {
          display: none;
        }

        .right-side {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .features-wrap {
      margin-top: 70px;

      .feature {
        float: left;
        max-width: 450px;
        min-height: 200px;

        .text-b {
          float: left;
          width: 300px;

          .title {
            font-family: 'SegoeUiBold';
            color: #303030;
            font-size: 22px;
            margin-bottom: 0;
          }

          .about {
            color: #909090;
            font-size: 18px;
          }

          @media (max-width: 560px) {
            width: 100%;
            float: none;
            margin-top: 40px;
          }
        }

        .image-bg {
          background-color: rgba(241, 241, 241, 0.55);
          border-radius: 50%;
          width: 90px;
          background-repeat: no-repeat;
          float: left;
          left: 16px;
          position: relative;
          top: 25px;
          height: 90px;
          margin-right: 33px;

          @media (max-width: 560px) {
            float: none;
            margin: 0 auto 20px;
          }
        }

        .image-best {
          background-image: image_url('icons/svg/edit.svg');
          height: 70px;
          background-repeat: no-repeat;
          width: 70px;
          float: left;
          left: 16px;
          position: relative;
          top: 5px;
        }

        .planet-earth {
          background-image: image_url('icons/svg/planet-earth.svg');
          height: 70px;
          background-repeat: no-repeat;
          width: 70px;
          float: left;
          left: 10px;
          position: relative;
          top: 10px;
        }

        .share {
          background-image: image_url('icons/svg/share.svg');
          height: 70px;
          background-repeat: no-repeat;
          width: 70px;
          float: left;
          left: 6px;
          position: relative;
          top: 9px;
        }

        .trophy {
          background-image: image_url('icons/svg/trophy.svg');
          height: 70px;
          background-repeat: no-repeat;
          width: 70px;
          float: left;
          left: 10px;
          position: relative;
          top: 14px;
        }
      }
    }
  }
}
